# Reports
reports/
*.html
*.json

# APK files
config/apk/
*.apk

# Ruby
*.gem
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/

# Environment
.env
.env.*

# IDE
.idea/
.vscode/

# Logs
*.log
